h1 {
    font-size: 50px;
    line-height: 0px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 0px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
    line-height: 0px;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #222;
    margin: 15px 0 20px 0;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #fdf0f0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#hero {
    background-image: url(img/sale5.jpg);
    height: 700px;
    width: 89%;
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0 80px;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 10px;
}

#hero h1 {
    color: #8f276f;
}

#hero button {
    background-image: url(img/button.png);
    background-color: transparent;
    color: #8f276f;
    border: 0;
    padding: 14px 100px 20px 79px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 34px rgba(0, 0, 0, 0.03);
}

#product {
    text-align: center;
}

#product .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    /* border: 1px solid #cce7d0; */
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product .pro img {
    width: 100%;
    border-radius: 20px;
}

#product .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#footer {
    text-align: center;
    justify-content: center;
    background-color: #fdf0f0;
    border: 1px solid #cce7d0;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

input {
    border-color: #cce7d0;
    height: 20px;
}

#product .shop {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;

}

#product .shop1 {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;

}

#product .shop2 {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;

}

.about {
    border: 1px solid black;
    height: 700px;
    text-align: center;
    margin-top: 50px;
    padding: 50px;
    /* margin-left: 500px;
    margin-right: 500px; */
    font-weight: bold;
    /* background-color: rgb(218, 216, 216); */
    background-image: url(img/sale3.jpg);
}